{
  "timeout": 10,
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
      "src/InfectionHelper.php"
    ]
  },
  "logs": {
    "text": "infection.log"
  },
  "mutators": {
    "@default": true
  }
}